<section class="menu-section mic" align="center">
    <label class="section-label">Mic</label>
    <div class="section-content">
        <div class="select">
            <app-mat-select #mediaDeviceMic [fieldLabel]="'Choose audio input source'" [listOption]="listMic" (matSelectChange)="_onChooseMic($event)">
            </app-mat-select>
        </div>
        <div class="media">

        </div>
    </div>
</section>
<mat-divider></mat-divider>

<section class="menu-section cam" align="center">
    <label class="section-label">Camera</label>
    <div class="section-content">
        <div class="select">
            <app-mat-select #mediaDeviceCam [fieldLabel]="'Choose video source'" [listOption]="listCamera" (matSelectChange)="_onChooseCamera($event)">
            </app-mat-select>
        </div>
        <div class="media">
            <app-video-stream #videoStream></app-video-stream>
        </div>
    </div>
</section>
<mat-divider></mat-divider>

<section class="menu-section speaker" align="center" *ngIf="supportChangeSpeaker">
    <label class="section-label">Speaker & headphone</label>
    <div class="section-content">
        <div class="select">
            <app-mat-select #mediaDeviceSpeaker [fieldLabel]="'Choose audio output destination'" [listOption]="listSpeaker" (matSelectChange)="_onChooseSpeaker($event)">
            </app-mat-select>
        </div>
        <div class="media">

        </div>
    </div>
</section>
<mat-divider></mat-divider>