<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
<app-input-config></app-input-config>
<ng-container>
    <app-video-stream></app-video-stream>
</ng-container>