.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
video,
span {
    width: 300px;
    height: #{300px / 16 * 9};
    background-color: #000;
    color: #fff;
}
