.menu-section {
    &.mic {
    }
    &.cam {
    }
    &.speaker {
    }

    .section-content {
        display: flex;
        flex-direction: row;
    }

    .select {
        width: 40%;
    }
    .media {
        width: 60%;
    }
}
.section-label {
    display: block;
    margin-top: 5px;
}
.section-content {
    margin-top: 10px;
}
.mat-form-field {
    width: 300px;
}
